.btn-pill {
    height: 25px;
    min-width: 80px;
    border-radius: 30px;
    border: none;
    font-size: 12px;
    padding-left:15px;
    padding-right:15px;
    margin-right: 3px;
    margin-bottom:5px;
    cursor: default !important;
}